
.hidden{

	display: none;
}

body{
	color: white;
	background-color: #7fe1fe;
}

*{
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 20px;
}

#container{
	margin: 0 auto;
	width: 960px;
	height: 100%;
}

.blue{
	width: 100%;
	height: auto;
	background-color: #7fe1fe;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.pink{
	background-color: #e2303a;
	width: 100%;
	border-radius: 10px;
	padding-top: 10px;
	padding-left:10px;
}

.aboutLeft{
	float: left;
}

.aboutLeft p{
	font-size: 60px;
}

.bold{
	font-weight: bold;
}

#boldPink{
	color: #e2303a;
	font-weight: bold;
}
.aboutRight{
	float: right;
}

#homeTown{
	overflow: hidden;
}

.para{
	text-align: right;
	line-height: 22px;
}

#petsLeft{
	margin-right: 30px;
	float: right;
	width: 700px;
}

#pets{
	float: left;
}

#kyle{
	float: left;
}

#largeText{
	font-size: 30px;
	text-align: right;
	text-transform: uppercase;
}

#petsLeft p{
	margin-top: 40px;
	float: right;
	width: 400px;
}

